<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <title>{$list['title']}</title>
</head>
<body>
<form class="layui-form" action="/api/admin/upload" method="post" enctype="multipart/form-data">
    <div class="layui-form-item">
        <label class="layui-form-label">视频名称</label>
        <div class="layui-input-block">
            <input type="text" name="title" required lay-verify="required" placeholder="请输入标题" autocomplete="off"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">视频描述</label>
        <div class="layui-input-block">
            <textarea name="desc" placeholder="请输入内容" class="layui-textarea"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">视频分类</label>
        <div class="layui-input-block">
            <select name="type" lay-filter="course_type">
                <option value="">选择视频分类</option>
                <option value="1">动作</option>
                <option value="2">动漫</option>
                <option value="3">搞笑</option>
                <option value="4">体育</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">视频上传</label>
        <button type="button" class="layui-btn video-btn" id="test1">
            <i class="layui-icon">&#xe67c;</i>上传视频
            <input type="file" class="video_file" name="file">
            <span>（上传格式是MP4，内容不超过50M）</span>
        </button>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<script src="/static/layui/layui.js"></script>
<script>
    layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form
            ,layer = layui.layer
            ,layedit = layui.layedit
            ,laydate = layui.laydate;
        form.render();
    });
</script>
</body>
</html>